    <style>
        /* START : Footer */
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

/* END : Footer */
    </style>
    <hr class="my-2">
    <div  class="jumbotron">
<section class="pt-3 pb-4">
  <div class="container">
      <div class="row mt-4">
        <div class="col text-center">
          <h3 class="display-4">
            Our Awesome Team
          </h3>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-4 text-center">
          <img class="img-fluid qualities-img p-4" src="/st/f/img/000.jpg">
          <h5>
            PRESIDENT
          </h5>
          <p class="lead">
            <i>- Saravan kumar</i>
          </p>

        </div>
        <div class="col-md-4 text-center">
          <img class="img-fluid qualities-img p-4" src="/st/f/img/001.jpg">
          <h5>
            ASSISTANT PRESIDENT
          </h5>
          <p class="lead">
            <i>- R.Madasamy</i>
          </p>

        </div>
        <div class="col-md-4 text-center">
            
            <img class="img-fluid qualities-img p-4" src="/st/f/img/002.jpg">
            <h5>
              ACCOUNTING MANAGER
            </h5>
            <p class="lead">
              <i>- R.Gopalan</i>
            </p>
        </div>
      </div>

      <div class="row mb-md-3">
        <div class="col-md-4 text-center">
            <img class="img-fluid qualities-img p-4" src="/st/f/img/003.jpg">
            <h5>
              SECRETARY
            </h5>
            <p class="lead">
              <i>- Rizvi dk</i>
            </p>
        </div>
        <div class="col-md-4 text-center">
            <img class="img-fluid qualities-img p-4" src="/st/f/img/004.jpg">
            <h5>
              MANAGING DIRECTOR
            </h5>
            <p class="lead">
              <i>- R.J.Nellai antony</i>
            </p>
        </div>

      </div>
</div>

</div>
</section>
