<form method="post" action="/Admin/ctc/a/l/post">
<br>
    <input type='text' id='usrname' name='usrname' placeholder="USERNAME"/><br>
    <input type='password' id='pass' name='pass' placeholder="PASSWORD"/><br>
    <button type='submit'>LOGIN</button>
</form>