
<br>
<br>
<br>
<input type='text' id='search' placeholder="USER ID HERE"/><input type='submit' id ='search_btn' value='Search'/>
<button id='logout'>Logout</button>
<script src='/st/f/j/a.js'></script>