	
    <style>
        * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

#err {
  position: relative;
  height: 100vh;
}

#err .err {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.err {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.err .err_ {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.err .err_ h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.err .err_ h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.err a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.err a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .err .err_ h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .err .err_ {
    height: 148px;
    margin: 0px auto 10px;
  }
  .err .err_ h1 {
    font-size: 86px;
  }
  .err .err_ h2 {
    font-size: 16px;
  }
  .err a {
    padding: 7px 15px;
    font-size: 14px;
  }
    .full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
}
    </style>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,400,700" rel="stylesheet">
    <div id="err">
		<div class="err">
			<div class="err_">
				<h1>Oops!</h1>
				<h2>{{code}}- Something Went Worng:)</h2>
			</div>
			<a href="/">Go To Homepage</a>
		</div>
	</div>