<!DOCTYPE html>
<html lang="en">
<head>    
    <style>
        /* START : Footer */
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

/* END : Footer */
    </style>
<div class="jumbotron text-center">
  <h1 class="display-3">Thank You For Using CTC!</h1>
  <p class="lead"><strong>Your Account Is Currently <span style="color: green;">ACTIVE</span></strong></p>
  <p class="lead">Your Account Expiries On <strong>{{Exp}}</strong></p>
  <hr>
  <p>
    Having trouble? <a href="/contact">Contact Us</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue To Homepage</a>
  </p>
</div>
