    <style>
        /* START : Footer */
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

/* END : Footer */
</style>
<hr class="my-2">
<div class="container">
  <div class="jumbotron">
    <h3>Cinema Thalam Creations
        <small class="text-muted">A Perfect Platform</small>
    </h3>
    <p class="lead">Hey there!! Waiting for an opportunity to shine in cine industry? You came to the perfect website, CINEMA THALAM CREATIONS 
      is here to make your dreams come true. This is an amazing digital platform where you can enroll yourself with just rupees 200 and wait for
      correct cinema chance to hit you!!..
      
    </p>
    <p class="lead"><em>People who are interested to give cini opportunities to others can also register yourself by filling the</em><strong>  Registration form</strong></p>
    <h3>How to Sign up?</h3>
      <ul>
        <li>Given below is the Signup form where you have to fill up your personal details and some basic details which has been asked..<br><br>
           <em>We assure that your details will not be shared or leaked out at any cost. All of your details will be completely secured..</em>
        </li><br>
        <li>After you fill in all your details, once you click signup button; you will be redirected to payment page where you must pay Rupees 200
          to get registered. </li><br>
        <li>We are so glad to announce that <strong>The first 100 users need not pay the cash and its completely free!</strong></li>
      </ul>
    <h3>Credentials
      <small class="text-muted">Your login details</small>
    </h3>  
    <p class="lead">
      <ul>
        <li>Once you complete the signup process..to login, remember your login details that you gave in the signup form..(i.e)Your email address
          and your own created password..Make sure you remember this details for login process.
        </li>
      </ul>
    </p>
    <h3>Instructions
      <small class="text-muted">For those who wants to give opportunity!</small>
    </h3>  
      <p class="lead">
        <ul>
          <li>If you guys are ready to give chance to people who are waiting with their talents continue reading it ..<br><br>

            Once you click see profile button, you will be able to see the user's reference number along with their details.
            You are asked to contact us better using  <strong><em>WhatsApp!</em></strong> 
          </li><br>
          <li>
            When you contact us through  <strong><em>WhatsApp!.,</em>
              Kindly send us Yours and User's <strong>Reference number, along with name and 
             city!...This is just for the security purpose!..
              </strong>
          </li>
        </ul>
      </p>
    <h3>Renewal process</h3>
    <p class="lead">
      <ul>
        <li>
          <strong> After one year</strong> you will be able to access the page only if you 
          renew your account . You will be chargedM<strong>Rupees 100</strong> for your 
          Renewal . Don't worry folks ! You don't have to sit and 
          count or keep remembering the day and date you enrolled 
          yourself into it.There is a page available as Renewal 
          page where you can see the date of Expiry!. 
          This page helps to remind you still how many weeks or 
          days are left for your renewal which makes your work 
          quite easy.
        </li><br>
        <li>
          After you pay Rupees 100 and completed your Renewal, your details will be back!
        </li>
      </ul>
    
    </p>  
  </div>
</div>
