    <style>
        /* START : Footer */
.full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}

/* END : Footer */
</style>
<hr class="my-2">
<div class="container">
  <div class="jumbotron">
    <h3 class="display-4">Warm Welcome To Upcoming Creator's</h3>
    <p class="lead">Cinema Thalam Creations(CTC) Is a Suitable Digital Platform For Those Who Need Opportunity In Cinema And Who Wants To Give a Chance 
      To Cinema. We Keep Your Data's And Personal Information As Secure, Come and Join With Us And Show Your Talents!!.. 
    </p>
  </div>
</div>